.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    display: flex;
    position: absolute;
    text-decoration: none;
    left: 668px;
}

.khan__buy-link:hover {
    opacity: 60%;
    transition: 1s;
} 